image: thrashplay/drone-deployment-agent:drone_test
tags:
  - drone_test
manifests:
  -
    image: thrashplay/drone-deployment-agent:drone_test-linux-amd64
    platform:
      architecture: amd64
      os: linux
  -
    image: thrashplay/drone-deployment-agent:drone_test-linux-arm64
    platform:
      architecture: arm64
      os: linux
      variant: v8
  -
    image: thrashplay/drone-deployment-agent:drone_test-linux-arm
    platform:
      architecture: arm
      os: linux
      variant: v7